{% extends 'base.html' %}
{% block title %}
Список пользователей
{% endblock %}
{% block extended_content %}
{% load filters %}
<br>
<table class="table container table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Логин</th>
        <th scope="col">ФИ</th>
        <th scope="col">Права доступа</th>
        <th scope="col">Группа</th>
        {%if setting == True%}
        <th>Настройки</th>
        {%endif%}
    </tr>
    </thead>
    <tbody>
    {% for user in users %}

    <tr  class="{% if user.is_active != 1 %}table-danger{%endif%}" >
        <th scope="row"><a href="/user/{{user.id}}" style="color:black">{{user.id}}</a></th>
        <td><a href="/user/{{user.id}}" style="color:black">{{user.username}}</a></td>
        <td><a href="/user/{{user.id}}" style="color:black">{{user.first_name}} {{user.last_name}}</a></td>
        <td>{%if user.is_superuser %}Админ {% elif user.is_staff%}Модератор{%else%}Ученик{%endif%}</td>
        {% if user.profile.group %}
        <td>{{ user.profile.group }}</td>
        {% else %}
        <td style="color:#d92748">Не назначена</td>
        {% endif %}
        {%if setting == True%}
        <td><a href="/user/{{user.id}}/settings" style="color:black">Настройки</a></td>
        {%endif%}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}