                <table class="table table-sm table-inverse">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Время</th>
                          <th>Ваш ответ</th>
                          <th>Балл</th>
                        </tr>
                      </thead>
                         <tbody>
                    {% for ans in task.answers.all %}
                        {% if ans.user_id == user_id %}
                        {% if ans.score > 0%}
                        <tr style="color:green">
                          <th scope="row">{{  forloop.counter }}</th>
                          <td>{{ ans.time |date:"m/d/Y H:m:s" }}</td>
                          <td>{{ ans.answer }}</td>
                          <td>{{ ans.score }}</td>
                        </tr>
                        {% else %}
                        <tr>
                          <th scope="row">{{  forloop.counter }}</th>
                          <td>{{ ans.time |date:"m/d/Y H:m:s" }}</td>
                          <td>{{ ans.answer }}</td>
                          <td>{{ ans.score }}</td>
                        </tr>
                        {% endif %}
                        {% endif %}
                    {% endfor%}
                         </tbody>
                    </table>